#chart {
    height: 440px;
}

#dataGrid {
    height: 300px;
}

.container-md{
   margin-top: 50px;
   padding: 50px;
   border-radius: 20px;
}

#chartVader{
    height: 440px;

}

#pieChart{
    padding-top: 100px;
    height: 300px;
}